<!DOCTYPE html>
<html>
<head>
  <title>Welcome to Hogwarts</title>
</head>
<body>
  <nav>
    <ul>
    <li>
    <a href="/students"> Our Students </a>
    </li>
    </ul>
  </nav>
  <%= yield %>
</body>
</html>
