<form>
  <label for="first-name"> First Name: </label>
  <input id="first-name" type="text" name="first_name"/>

  <label for="second-name"> Surname: </label>
  <input id="second-name" type="text" name="second_name" />

  <label for="house-select"> Select a house: </label>
  <select id="house-select" name="house">
    <option value="Gryffindor">Gryffindor</option>
    <option value="Slytherin">Slytherin</option>
    <option value="Ravenclaw">Ravenclaw</option>
    <option value="Hufflepuff">Hufflepuff</option>
  </select>


  <label for="age"> Age: </label>
  <input id="age" min=10 max=20 type="number" name="age" />

  <input type="submit" value="Add a student" />

</form>
